{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>{% block title %}My Shop{% endblock %}</title>
            <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo">
                My Shop
            </a>
            {% if user.is_authenticated %}
                
            
            <li>
                <a href="{% url 'account_signup' %}">Sign Up</a>
            </li>
            <li>
                <a href="{% url 'account_login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'account_logout' %}">Logout</a>
            </li>
            <li>
                <a href="{% url 'account_change_password' %}">Change Password</a>
            </li>
            {% endif %}
        </div>
        <div id="subheader">
            <div class="cart">
                {% with total_items=cart|length %}
                   {% if total_items > 0 %}
                    Your cart:
                        <a href="{% url 'cart:detail' %}">{{ total_items }} item {{ total_items|pluralize }}, ${{ cart.get_total_price }}</a>
                    {% elif not order %}
                        Your cart is empty
                    {% endif %}
                {% endwith %}
            </div>>
        </div>
        <div id="content">
            {% block content %}
            <!-- Content goes here -->
            {% endblock %}
    </body>